<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no, interactive-widget=resizes-content, viewport-fit=cover, user-scalable=yes" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title><%- title %></title>
    <meta property="og:title" content="<%- title %>" />
    <meta property="twitter:title" content="<%- title %>" />
    <meta name="description" content="<%- description %>" />
    <meta property="og:description" content="<%- description %>" />
    <meta property="twitter:description" content="<%- description %>" />
    <meta property="og:image" content="<%- ogImage %>" />
    <meta property="twitter:image" content="<%- ogImage %>" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%- gtagTagId %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

        gtag('config', '<%- gtagTagId %>');
      </script>
    </head>
  <body>
  </body>
</html>
