@use '@/style/utils';

body {
  min-block-size: 100dvh;
}

/* Fix for fullscreen page in PWA */

// html,
// body,
// #root {
//   inline-size: 100%;inline-size
//   max-inline-size: 100%;max-inline-size
//   block-size: 100%;block-size
//   min-block-size: 100%;min-block-size
// }

// html {
//   min-block-size: calc(100% + env(safe-area-inset-top));min-block-size
// }

/* END fix */

* {
  outline-color: var(--background);
}

.visually-hidden:not(:focus, :active, :focus-within),
.strict-visually-hidden {
  @include utils.visually-hidden;
}

.skip-link {
  position: fixed;
  z-index: 10000;
  inset-block-start: 0;
  inset-inline-start: 50%;
  transform: translateX(-50%);

  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-end-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem;

  color: var(--foreground);
  text-decoration: none;

  background-color: var(--background);
}

[data-disabled='true'] {
  pointer-events: auto;
  cursor: not-allowed;
}

// Theme toggle animation

::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out, ease-out);
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  z-index: -1;
  animation: none;
}

.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }

  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }

  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}

.truncate-none {
  overflow: visible;
  text-overflow: unset;
}

::view-transition-old(.slow-fade) {
  animation-duration: 500ms;
}

::view-transition-new(.slow-fade) {
  animation-duration: 500ms;
}
